[submodule "components/lcdgfx"]
	path = components/lcdgfx
	url = https://github.com/lexus2k/lcdgfx.git
[submodule "components/esp32-thingsboard-mqtt-client"]
	path = components/esp32-thingsboard-mqtt-client
	url = https://github.com/wurly200a/esp32-thingsboard-mqtt-client.git
